extends layout

block content
  h1= title
  p Welcome to #{title}
      ul
      each product in products
        if product.isForSale
          li= `Product Name: ${product.name}, Price: ${product.price} Quantity: ${product.quantity}`
          img(src=`data:image/jpeg;base64,  ${product.picture}`)
          p
          a(class='button', href=`/products/${product._id}?update=0`) Detail || 
          
          a(class='button', href=`/products/${product._id}?update=1`) Update
          p
          a(class='button', href=`/carts/add/${product._id}`) Add to cart

       
  a(class='button' href='/products/new/page') create new product