<%- include('../head.ejs'); %>
<%- include('../header.ejs'); %>
    <body>
        <script src='/javascripts/index.js'></script>
        <section class="section-pagetop" style="padding-bottom:0">

        </section>

        <section class="section-content padding-y">
            <div class="container">

                <div class="row">
                    <aside class="col-md-3">

                        <div class="card">
                            <article class="filter-group">
                                <header class="card-header">
                                    <h4 class="title">商品種類</h4>
                                </header>
                                <div class="filter-content collapse show">
                                    <div class="card-body">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="query" placeholder="Search">
                                            <div class="input-group-append">
                                                <button class="btn btn-light" type="button"><i
                                                        class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                        <!-- <ul class="list-menu">
                    <li><a href="}">全部</a></li>
                    <li><a href="">手提包</a></li>
                    <li><a href="">服飾</a></li>
                    <li><a href="">書籍</a></li>
                    <li><a href="">3C</a></li>
                    <li><a href="">鞋類</a></li>
                    <li><a href="">其它</a></li>
                    </ul> -->

                                    </div> <!-- card-body.// -->
                                </div>
                            </article> <!-- filter-group  .// -->

                            <article class="filter-group">
                                <header class="card-header">
                                    <h4 class="title">依價格排序</h4>
                                </header>
                                <div class="filter-content collapse show">
                                    <div class="card-body">
                                        <!-- <ul class="list-menu">
                    <li><a href="">$(高→低)</a></li>
                    <li><a href=">$(低→高)</a></li>
                    </ul> -->
                                    </div>
                                </div>
                            </article>
                        </div>
                    </aside>
                    <main class="col-md-9">
                        <% for(var i=0; i<products.length; i++) { %>

                            <article class="card card-product-list">
                                <div class="row no-gutters">
                                    <aside class="col-md-3">
                                        <a href="/products/<%= products[i]._id %>" class="img-wrap">
                                            <img src="data:image/png;base64, <%=products[i].picture %>">
                                        </a>
                                    </aside>
                                    <div class="col-md-6">
                                        <div
                                            class="info-main h-100 d-flex align-items-start flex-column bd-highlight mb-3">
                                            <a href="" class="h5 title prod_name mb-auto p-2 bd-highlight">
                                                <%= products[i].name %>
                                            </a>
                                            <div class="price-wrap p-2 bd-highlight">剩餘數量 :
                                                <span>
                                                    <%= products[i].quantity %>
                                                </span>
                                            </div>
                                            <div class="price-wrap p-2 bd-highlight">上架時間 : <span></span></div>
                                        </div>
                                    </div>
                                    <aside class="col-sm-3">
                                        <div class="info-aside">
                                            <br>
                                            <div class="price-wrap">售價:$
                                                <span class="price h5">
                                                    <%= products[i].price %>
                                                </span>
                                            </div> <!-- info-price-detail // -->
                                            <br>
                                            <span style='display:none' class='productId'><%= products[i]._id %></span>
                                            <div class="form-inline">
                                                <button type="button" display="inline" class="btn btn-block btn-primary cartBut"
                                                    productId="<%= products[i]._id %>">
                                                    <svg class="emptyHeart" width="1em" height="1em" viewBox="0 0 16 16"
                                                        class="bi bi-heart" fill="currentColor"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                                    </svg>
                                                    <svg class="fullHeart" display="none" width="1em" height="1em"
                                                        viewBox="0 0 16 16" class="bi bi-suit-heart-fill"
                                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
                                                    </svg>
                                                    <span class="text">Add to Shopping Cart</span>
                                                </button>
                                            </div>
                                        </div> <!-- info-aside.// -->
                                    </aside> <!-- col.// -->
                                </div>
                            </article>
                            <% } %>
                                <div class="d-flex justify-content-center align-items-center"><a href=""
                                        class="btn btn-primary" style="color:white ;margin:5px;">新增商品</a></div>
                    </main> <!-- col.// -->
                </div>
            </div> <!-- container .//  -->
        </section>
        <footer class="section-footer border-top padding-y">
            <div class="container">
                <p class="float-md-right">
                    &copy Copyright 2019 All rights reserved
                </p>
                <p>
                    <a href="#">Terms and conditions</a>
                </p>
            </div><!-- //container -->
        </footer>

    </body>

    </html>